In [0]:
import numpy as np
import pandas as pd

# Pandas

# Series,Data Frame and panel

## Series

###  Series created using dictonary

In [0]:
d ={'A':10,'B':20,'C':5}

In [448]:
pd.Series(d)

A    10
B    20
C     5
dtype: int64

###   Series created using rand function

In [449]:
pd.Series(np.random.rand(5))

0    0.600054
1    0.489796
2    0.171009
3    0.166234
4    0.973200
dtype: float64



### Series created using rand function with indexing

In [450]:
pd.Series(np.random.rand(5),index=['a','b','c','d','e'])

a    0.304486
b    0.323113
c    0.631624
d    0.680039
e    0.398954
dtype: float64

## Data Frame

### Data Frame created with Series

In [451]:
d={'c1':pd.Series(['A','B','C']),'c2':pd.Series(np.random.randint(0,4,4))}
pd.DataFrame(d)

    c1  c2
0    A   1
1    B   3
2    C   0
3  NaN   3

###  Data Frame created with lists

In [452]:
d={'c1':['A','B','C','D'],'c2':np.random.randint(0,4,4)}
pd.DataFrame(d)

  c1  c2
0  A   0
1  B   3
2  C   2
3  D   1

### Data Frame created with tuples

In [453]:
d={'c1':('A','B','C','D'),'c2':np.random.randint(0,4,4)}
pd.DataFrame(d)

  c1  c2
0  A   1
1  B   0
2  C   0
3  D   0

## Panel

### Panel created with Data Frame

In [454]:
item1={'c1':('A','B','C','D'),'c2':np.random.randint(0,4,4)}
item2={'c1':np.random.randint(0,4,5),'c2':np.random.randint(0,4,5)}
pd.Panel({'one':item1,'two':item2})

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 2 (minor_axis)
Items axis: one to two
Major_axis axis: 0 to 4
Minor_axis axis: c1 to c2

## HandsOn

### Series

Create a series named **heights_A** with values** 176.2, 158.4, 167.6, 156.2, and 161.4**, which represent heights of 5 students of** class A**.

Label each student as** s1, s2, s3, s4, and s5.**

Determine the shape of **heights_A** and display it.

Hint: Make use of **Series** method available in **pandas library**.

In [0]:
heights_A=pd.Series([176.2, 158.4, 167.6, 156.2,161.4],index=['s1','s2','s3','s4','s5'])

In [456]:
print(heights_A.shape,end='\n')
print(heights_A)

(5,)
s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
dtype: float64

Create a series named **weights_A** with values **85.1, 90.2, 76.8, 80.4, and 78.9**, which represent weights of 5 students of class A.

Label each student as **s1, s2, s3, s4, and s5**.

Determine data type of **weights_A** and display it.

***Hint***: Make use of **Series** method available in** pandas library**.

In [0]:
weights_A=pd.Series([85.1, 90.2, 76.8, 80.4,78.9],index=['s1','s2','s3','s4','s5'])

In [458]:
print(weights_A.shape,end='\n')
print(weights_A)

(5,)
s1    85.1
s2    90.2
s3    76.8
s4    80.4
s5    78.9
dtype: float64

Create two Series named **heights_B** and **weights_B** from two random 1-D numpy arrays with five elements each.
The first array is obtained from the **normal distribution of mean 170.0** and **standard deviation 25.0**.

The second array is derived from the **normal distribution of mean 75.0** and **standard deviation 12.0**.

Label both Series elements with** s1, s2, s3, s4 and s5**.

***Hint***: Make use of **numpy's random module**.

In [0]:
heights_B=pd.Series(np.random.normal(170,25,5),index=['s1','s2','s3','s4','s5']) #pd.Series(170+25*np.random.randn(5),index=['s1','s2','s3','s4','s5'])
weights_B=pd.Series(np.random.normal(75,12,5),index=['s1','s2','s3','s4','s5']) #pd.Series(75+12*np.random.randn(5),index=['s1','s2','s3','s4','s5'])

### Data Frame
Create a Data Frame named **df_A**, which holds the **height** and **weight** of five students namely s1, s2, s3, s4 and s5.

Label the columns as **Student_height** and **Student_weight** respectively.

Display index values of **df_A**.

***Hint***: Make use of **DataFrame** method in **pandas**, and also the series **heights_A**, **weights_A** created in previous problems.

In [0]:
df_A=pd.DataFrame({"Student_height":heights_A,"Student_weight":weights_A})

In [461]:
print(df_A.index)
print(df_A)

Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')
    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

Create a Data Frame **df_B** holding height and weight of students** s1, s2, s3, s4 and s5** belonging to class B.

Label the columns as **Student_height** and **Student_weight** respectively.

Display the column names of **df_B**.

***Hint***: Make use of **heights_B** and **weights_B** series created in above problems.

In [0]:
df_B=pd.DataFrame({"Student_height":heights_B,"Student_weight":weights_B})

In [463]:
print(df_B.columns)
print(df_B)

Index(['Student_height', 'Student_weight'], dtype='object')
    Student_height  Student_weight
s1      176.449712       69.148797
s2      131.618999       83.046537
s3      142.066377       70.669359
s4      194.459043       73.608138
s5      176.484505       46.696729

### Panel

Create a** panel p**, which holds previously created two data frames **df_A** and **df_B**.
Label the first data frame as **ClassA** and second as **ClassB**.

Determine the shape of **panel p** and display it.

***Hint***: Make use of **panel** method of **pandas**.

In [0]:
p=pd.Panel({"ClassA":df_A,"ClassB":df_B})

In [465]:
print(p.shape)
print(p)

(2, 5, 2)
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 2 (minor_axis)
Items axis: ClassA to ClassB
Major_axis axis: s1 to s5
Minor_axis axis: Student_height to Student_weight

### Other HandsOn

In [466]:
s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
'b' in s

True

In [467]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
print(df.shape)
print(df)

(2, 2)
   a   b
0  1   2
1  5  10

In [468]:
s = pd.Series([99, 32, 67],list('abc'))
s.isin([67,32])

a    False
b     True
c     True
dtype: bool

# Accessing Data

## Series

### Accessing a Single Value using  square brackets
Individual elements can be accessed by specifying either **index number** or** index value,** inside the square brackets.

In [0]:
z = np.arange(10, 16)

s = pd.Series(z, index=list('abcdef'))

In [470]:
#Accessing 3rd element of s.

s[2] # ---> Returns '12'

12

In [471]:
#Accessing 4th element of s.

s['d'] # ---> Returns '13'

13

### Accessing a Single Value using get method
It is also possible to access a single element by passing **index number** or **index value**, as an argument to get method.

In [472]:
s.get(2) # ---> Returns '12'

12

In [473]:
s.get('d') # ---> Returns '13'

13

### Accessing a Slice
A Series can be sliced in a way, very similar to slicing a python list.

Elements corresponding to **start** and **end** index values are included, when **index values** are used for slicing.

In [474]:
s[1:4]

b    11
c    12
d    13
dtype: int64

In [475]:
s['b':'e']

b    11
c    12
d    13
e    14
dtype: int64

## DataFrame

### Accessing Data from a Data Frame

Pandas allows **.loc, .iloc **methods for selecting rows.

Using **square brackets ([])** is also allowed, especially for selecting columns.

In [0]:
d={'c_A':[1,2,3,4],'c_B':[2,4,6,8],'c_C':[3,6,9,12],'c_D':[4,8,12,16]}

In [477]:
df=pd.DataFrame(d,index=['r_one','r_two','r_three','r_four'])
df

         c_A  c_B  c_C  c_D
r_one      1    2    3    4
r_two      2    4    6    8
r_three    3    6    9   12
r_four     4    8   12   16

### Accessing column using square bracket

In [478]:
df['c_C']

r_one       3
r_two       6
r_three     9
r_four     12
Name: c_C, dtype: int64

In [479]:
type(_)

pandas.core.series.Series

### Accessing row using square bracket
Use method** loc and iloc**

In [480]:
df.loc['r_one'] # first row

c_A    1
c_B    2
c_C    3
c_D    4
Name: r_one, dtype: int64

In [481]:
df.iloc[1] # second row

c_A    2
c_B    4
c_C    6
c_D    8
Name: r_two, dtype: int64

### Range of rows with all columns

In [482]:
df[2:4] # 3rd and 4th row

         c_A  c_B  c_C  c_D
r_three    3    6    9   12
r_four     4    8   12   16

### Accessing row and column using square bracket

In [483]:
df['c_C'][:3] # column c_C and first 3 row

r_one      3
r_two      6
r_three    9
Name: c_C, dtype: int64

### Create new using exising row

In [0]:
df['c_New']=df['c_C']%2==0

In [485]:
df

         c_A  c_B  c_C  c_D  c_New
r_one      1    2    3    4  False
r_two      2    4    6    8   True
r_three    3    6    9   12  False
r_four     4    8   12   16   True

## HandsOn

### Series

Print the second element of series **heights_A**, as a string.

***Hint***: Use index number or value corresponding to the second element, inside the square brackets.

In [486]:
heights_A[1]

158.4

Obtain central three elements of Series **heights_A**.

***Hint***: use slice objects corresponding to index numbers or index values.

In [487]:
heights_A[1:4]

s2    158.4
s3    167.6
s4    156.2
dtype: float64

### DataFrame
Select the column of **df_A**, referring to student heights and store in variable **height**.

***Hint***: Specify the required column name inside square brackets.

Display the type of **height**.

In [488]:
height=df_A['Student_height']
type(height)

pandas.core.series.Series

Select the rows corresponding to students ** s1, s2** of **df_A** and display them.

***Hint***: Make use of wither **.loc** or **.iloc** methods.

In [489]:
print(df_A.loc['s1'])
print(df_A.iloc[1])

Student_height    176.2
Student_weight     85.1
Name: s1, dtype: float64
Student_height    158.4
Student_weight     90.2
Name: s2, dtype: float64

In [490]:
df_A.loc['s1':'s2']

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

Select the rows corresponding to students **s1, s2 and s5** of **df_A** in the order **s2, s5, s1** and **display them**.

Hint: Make use of wither** .loc** or **.iloc** methods.

In [491]:
df_A.loc[['s2','s5','s1']]

    Student_height  Student_weight
s2           158.4            90.2
s5           161.4            78.9
s1           176.2            85.1

Select those rows of **df_A**, whose index values ends with **1 or 4**.

***Hint***: pass a boolean function, which checks if an index string ends with **1 or 4**, to **.loc or .iloc** methods.

In [492]:
df_A.loc[df_A.index.str.endswith(('1','4'))]

    Student_height  Student_weight
s1           176.2            85.1
s4           156.2            80.4

Add row as **r_five** in **df**.

***Hint***: using loc method

In [493]:
df.loc['r_five']=[5,10,15,20,False]
df

         c_A  c_B  c_C  c_D  c_New
r_one      1    2    3    4  False
r_two      2    4    6    8   True
r_three    3    6    9   12  False
r_four     4    8   12   16   True
r_five     5   10   15   20  False

# More Information about data

## Knowing a Series

It is possible to understand a Series better by using **describe** method.

The method provides details like **mean, std, etc.** about a series.

In [494]:
temp = pd.Series(28 + 10*np.random.randn(10))

print(temp.describe())

count    10.000000
mean     31.891331
std      11.425190
min      18.352366
25%      21.946090
50%      30.769493
75%      38.657835
max      52.636987
dtype: float64

## Knowing a DataFrame
Two methods majorly **info** and **describe** can be used to know about the data, present in a data frame.

**describe** method by default provides details of only numeric fields.

You can use **include** argument to know about other columns.

In [495]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)), 

                'rain':pd.Series(100 + 50*np.random.randn(10)),

             'location':list('AAAAABBBBB')})



print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
location    10 non-null object
rain        10 non-null float64
temp        10 non-null float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes
None

In [496]:
df.describe()

             rain       temp
count   10.000000  10.000000
mean    88.918582  25.044393
std     57.977754   7.450408
min     11.775389  13.279928
25%     48.499127  21.377693
50%     80.684255  24.985921
75%    113.670180  29.022402
max    213.558713  36.086768

In [497]:
df.describe(include=['object'])

       location
count        10
unique        2
top           B
freq          5

In [498]:
df.describe(include=['object','number'])

       location        rain       temp
count        10   10.000000  10.000000
unique        2         NaN        NaN
top           B         NaN        NaN
freq          5         NaN        NaN
mean        NaN   88.918582  25.044393
std         NaN   57.977754   7.450408
min         NaN   11.775389  13.279928
25%         NaN   48.499127  21.377693
50%         NaN   80.684255  24.985921
75%         NaN  113.670180  29.022402
max         NaN  213.558713  36.086768

# Read and write function in Pandas

Pandas provides support for reading/writing data from/to some sources.

For example, **read_csv** is used to read data from a CSV file and **to_csv** is utilized to write data to a CSV file.

Can use **read_excel** to read excel from **path** or **url** and **to_excel** to write excel from **DataFrame**

To read data from sql database using method **read_sql_table** or **read_sql_query**

To read json string using method **read_json** from **path** or **url**

### Converting DataFrame to csv file

In [0]:
df.to_csv("test_df_to_csv.csv",index=False)

### Reading csv to DataFrame

In [500]:
read_df=pd.read_csv("test_df_to_csv.csv")
print(read_df)

  location        rain       temp
0        A   40.567740  34.646102
1        A  213.558713  29.052654
2        A   11.775389  21.367966
3        A   74.288134  21.406876
4        A  114.974277  36.086768
5        B   72.293289  15.700149
6        B  131.116976  25.934979
7        B   33.773032  24.036864
8        B  109.757890  13.279928
9        B   87.080376  28.931647

### Reading Data from URL
Various read methods available in pandas can also read data from files available over the web.

In [0]:
from sklearn import datasets

In [0]:
data=datasets.load_iris()

In [503]:
pd.DataFrame(data.target_names)

            0
0      setosa
1  versicolor
2   virginica

**Form URL same iris dataset**

In [0]:
import urllib
iris_url="http://aima.cs.berkeley.edu/data/iris.csv"
urlRequest=urllib.request.Request(iris_url)
iris_file=urllib.request.urlopen(urlRequest)
iris_fromUrl=pd.read_csv(iris_file,sep=',',header=None,decimal='.',names=['sepal_length','sepal_width','petal_length','petal_width','target'])

In [505]:
iris_fromUrl.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [506]:
iris_fromUrl.head(6)

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

**Handling Large Data Sets**

It is possible to read large data sets in chunks.

In [0]:
import urllib
iris_url="http://aima.cs.berkeley.edu/data/iris.csv"
urlRequest=urllib.request.Request(iris_url)
iris_file=urllib.request.urlopen(urlRequest)
irisIterator=pd.read_csv(iris_file,sep=',',header=None,decimal='.',names=['sepal_length','sepal_width','petal_length','petal_width','target'],iterator=True)

In [508]:
print(irisIterator.get_chunk(10).shape)
mychunk=irisIterator.get_chunk(10)
print(mychunk)

(10, 5)
    sepal_length  sepal_width  petal_length  petal_width  target
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

Use **error_bad_lines**=False when there is bad data file (i.e) row and column does not match header and data.

### Reading from Database

from **sqlalchemy** import **create_engine**

engine=create_engine('**dialect+driver://username:password@host:port/database**')

df=pd.read_sql_table('tableName',engine)

### Reading Data from Json

pandas provides the utilities **read_json** and **to_json** to deal with **JSON strings or files**.
Consider the below string **EmployeeRecords** for understanding conversion of a **JSON string** into a **data frame**.

In [0]:
EmployeeRecords = [{'EmployeeID':451621, 'EmployeeName':'Preeti Jain', 'DOJ':'30-Aug-2008'},

{'EmployeeID':123621, 'EmployeeName':'Ashok Kumar', 'DOJ':'25-Sep-2016'},

{'EmployeeID':451589, 'EmployeeName':'Johnty Rhodes', 'DOJ':'04-Nov-2016'}]

In [510]:
import json
emp_records_json_str = json.dumps(EmployeeRecords)
df = pd.read_json(emp_records_json_str, orient='records', convert_dates=['DOJ'])
print(df)

         DOJ  EmployeeID   EmployeeName
0 2008-08-30      451621    Preeti Jain
1 2016-09-25      123621    Ashok Kumar
2 2016-11-04      451589  Johnty Rhodes

## HandsOn

Write the contents of **df_A** to a CSV file names **classA.csv**.

***Hint***: Use **to_csv** method associated with a data frame.

Verify if the file **classA.csv** exists in present directory using command **os.path.exists** and display it's output.

***Hint***: Use **os** module.

In [0]:
df_A.to_csv("classA.csv")

In [512]:
import os
os.path.exists("classA.csv")

True

Read the contents of the CSV file,** classA.csv** into a data frame named **df_A2**.

***Hint*** : Use **read_csv** method of pandas.

Display the **index** of **df_A2**

In [513]:
df_A2=pd.read_csv("classA.csv")
df_A2.index

RangeIndex(start=0, stop=5, step=1)

Read the contents of the CSV file, **classA.csv** into a data frame named **df_A3**, such that first column data values are treated as index to df_A3.

***Hint*** : Make use **index_col** argument of **read_csv** method.

Display the index of **df_A3**.

In [514]:
df_A3=pd.read_csv("classA.csv",index_col=0)
df_A3.index
df_A3

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

Write the contents of **df_B**, without the **index**, to a CSV file named** classB.csv.**

***Hint***: Make Use of index argument of **to_csv** method.

Verify if the file **classB.csv** exists in present directory using the command **os.path.exists** and display the command output.

***Hint***: Use **os** module.

In [0]:
df_B.to_csv("classB.csv",index=None)

In [516]:
os.path.exists("classB.csv")

True

Read the data from **classB.csv** file into a data frame **df_B2**.

***Hint***: Use **read_csv** method
Display shape of **df_B2**

In [517]:
df_B2=pd.read_csv("classB.csv")
df_B2.shape

(5, 2)

In [518]:
df_B2

   Student_height  Student_weight
0      176.449712       69.148797
1      131.618999       83.046537
2      142.066377       70.669359
3      194.459043       73.608138
4      176.484505       46.696729

Read the data from **classB.csv** file into a data frame **df_B3**, such that the argument header of **read_csv** is set to **None**

***Hint***: When **header** is set to **None**, data is read assuming there is no header in input csv file.

Display shape of **df_B3**.

In [519]:
df_B3=pd.read_csv("classB.csv",header=None)
df_B3.shape

(6, 2)

In [520]:
df_B3

                    0                   1
0      Student_height      Student_weight
1  176.44971161781996   69.14879721155042
2   131.6189994681734   83.04653748038288
3    142.066376505174   70.66935864230511
4  194.45904270096216   73.60813750376427
5  176.48450518679715  46.696728765868826

Read the data from **classB.csv** file into a data frame **df_B4**, such that the argument header of **read_csv** is set to **None** and argument **skiprows** is set to **1**.

***Hint***: **skiprows** skips reading the first **n** number of **rows** from the input csv file.

Display shape of **df_B4**

In [521]:
df_B4=pd.read_csv("classB.csv",header=None,skiprows=1)
df_B4.shape

(5, 2)

In [522]:
df_B4

            0          1
0  176.449712  69.148797
1  131.618999  83.046537
2  142.066377  70.669359
3  194.459043  73.608138
4  176.484505  46.696729

# Indexing

**Indexing** refers to labeling data elements of a **Series**, a **Data Frame** or a **Panel**.

These labels can be utilized for **selecting portion of data** from any of the defined data structures.

## Indexing a Data Frame

A single level index can be set to a data frame, by passing a list of values to either using** index attribute** or **index argument** of **DataFrame function**.

In [523]:
df = pd.DataFrame(np.random.rand(5,2))

df.index = [ 'row_' + str(i) for i in range(1, 6) ]

df

              0         1
row_1  0.037376  0.375689
row_2  0.283621  0.158468
row_3  0.798991  0.928633
row_4  0.776646  0.091787
row_5  0.299327  0.960961

## DateTime Indexes

**Pandas** supports generating a range of dates, with methods like **date_range**, **bdate_range**.

### date_range

In [524]:
print(pd.date_range('2018-01-01',periods=30,freq='D'))

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30'],
              dtype='datetime64[ns]', freq='D')

In [525]:
print(pd.date_range('2018-01-01',periods=4,freq='BQ'))

DatetimeIndex(['2018-03-30', '2018-06-29', '2018-09-28', '2018-12-31'], dtype='datetime64[ns]', freq='BQ-DEC')

### to_date

In [526]:
print(pd.to_datetime(['20180101'],format='%Y%m%d'))

DatetimeIndex(['2018-01-01'], dtype='datetime64[ns]', freq=None)

In [527]:
df=pd.DataFrame({"Year":[2017,2018],"Month":[1,12],"Day":[26,25]})
print(df)

   Day  Month  Year
0   26      1  2017
1   25     12  2018

In [528]:
pd.to_datetime(df)

0   2017-01-26
1   2018-12-25
dtype: datetime64[ns]

## Hierarchical Indexing

In addition to single level indexing, pandas supports **multilevel** or **hierarchical** indexing.

In [529]:
myarray=[['one','one','two','two','three','three'],['Red','Blue','Green','Cyan','Magenta','Yellow']]
print(myarray)

[['one', 'one', 'two', 'two', 'three', 'three'], ['Red', 'Blue', 'Green', 'Cyan', 'Magenta', 'Yellow']]

In [530]:
multiIndex=pd.MultiIndex.from_arrays(myarray,names=['Number','Colour'])
print(multiIndex)

MultiIndex(levels=[['one', 'three', 'two'], ['Blue', 'Cyan', 'Green', 'Magenta', 'Red', 'Yellow']],
           labels=[[0, 0, 2, 2, 1, 1], [4, 0, 2, 1, 3, 5]],
           names=['Number', 'Colour'])

In [531]:
myseries=pd.Series(np.random.randn(6),index=multiIndex)
print(myseries)

Number  Colour
one     Red        0.898741
        Blue      -1.244473
two     Green      0.571680
        Cyan       0.809483
three   Magenta   -0.754310
        Yellow     0.770415
dtype: float64

In [532]:
myseries['one']

Colour
Red     0.898741
Blue   -1.244473
dtype: float64

## HandsOn

Create an index named **dates**, representing a range of dates starting from **1-Sep-2017 to 15-Sep-2017**.

***Hint***: use **date_range** method of pandas.

In [533]:
dates=pd.date_range('1-Sep-2017',periods=15,freq='D')
print(dates)

DatetimeIndex(['2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15'],
              dtype='datetime64[ns]', freq='D')

Convert the following list of **date strings** into **datetime objects**.

datelist = ['14-Sep-2017', '9-Sep-2017']

***Hint***: Use **to_datetime** method of pandas

Capture the result in search_dates

In [534]:
datelist = ['14-Sep-2017', '9-Sep-2017']
search_dates=pd.to_datetime(datelist)
print(search_dates)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

Filter those index dates from **dates** which match dates in **search_dates**.

Display the filtered dates.

***Hint***: use **isin** method associated with DatetimeIndex objects.

In [535]:
dates[dates.isin(search_dates)]

DatetimeIndex(['2017-09-09', '2017-09-14'], dtype='datetime64[ns]', freq=None)

Create a multi index named **mi_index** of two levels, represented in the below array arraylist.

arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]

***Hint*** : Use MultiIndex of pandas.

Display levels of **mi_index**.

In [536]:
arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]
print(arraylist)

[['classA', 'classA', 'classA', 'classA', 'classA', 'classB', 'classB', 'classB', 'classB', 'classB'], ['s1', 's2', 's3', 's4', 's5', 's1', 's2', 's3', 's4', 's5']]

In [537]:
mi_index=pd.MultiIndex.from_arrays(arraylist)
print(mi_index)

MultiIndex(levels=[['classA', 'classB'], ['s1', 's2', 's3', 's4', 's5']],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4]])

## Other HandsOn

In [538]:
pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')

PeriodIndex(['2017-09'], dtype='period[M]', freq='M')

In [539]:
pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [540]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

# Data Cleaning

Data Cleaning refers to transformation of **raw data** to a **useful structured form**, which is used for further analysis.

The process includes various steps like dealing with **missing values**.

## Data Cleaning Methods

Pandas provide methods like **drop_duplicates**, **isnull**, etc to deal with missing data.

**Remove duplicate **

df=df.drop_duplicates()

**Find missing values**

df['col'].isnull().value_counts()

**Extract the string **

df['col'].str.extract('(\w+)')

**Replace the string data**

df['newCol']=df['col'].str.replace('^pink','blue')

**Remove all missing value**

df=df.dropna(how='any')

**Replacing missing data**

df.fillna(0)

df.fillna(method='pad')

df.fillna(df.mean())

In [541]:
df=pd.DataFrame({"Date":pd.to_datetime([20180101,20180201,20180301,20180401,20180501,20180601],format='%Y%m%d'),"Temp_City1":[12,np.nan,15,18,20,np.nan],"Temp_City2":[15,16,15,16,np.nan,18],"Choice":[2,1,1,2,2,1]})
df

   Choice       Date  Temp_City1  Temp_City2
0       2 2018-01-01        12.0        15.0
1       1 2018-02-01         NaN        16.0
2       1 2018-03-01        15.0        15.0
3       2 2018-04-01        18.0        16.0
4       2 2018-05-01        20.0         NaN
5       1 2018-06-01         NaN        18.0

In [542]:
df_drop=df.dropna(how='any')
df_drop

   Choice       Date  Temp_City1  Temp_City2
0       2 2018-01-01        12.0        15.0
2       1 2018-03-01        15.0        15.0
3       2 2018-04-01        18.0        16.0

In [543]:
df_fill_zero=df.fillna(0)
df_fill_zero

   Choice       Date  Temp_City1  Temp_City2
0       2 2018-01-01        12.0        15.0
1       1 2018-02-01         0.0        16.0
2       1 2018-03-01        15.0        15.0
3       2 2018-04-01        18.0        16.0
4       2 2018-05-01        20.0         0.0
5       1 2018-06-01         0.0        18.0

In [544]:
df_fill_pad=df.fillna(method='pad')
df_fill_pad

   Choice       Date  Temp_City1  Temp_City2
0       2 2018-01-01        12.0        15.0
1       1 2018-02-01        12.0        16.0
2       1 2018-03-01        15.0        15.0
3       2 2018-04-01        18.0        16.0
4       2 2018-05-01        20.0        16.0
5       1 2018-06-01        20.0        18.0

In [545]:
df_fill_mean=df.fillna(df.mean())
df_fill_mean

   Choice       Date  Temp_City1  Temp_City2
0       2 2018-01-01       12.00        15.0
1       1 2018-02-01       16.25        16.0
2       1 2018-03-01       15.00        15.0
3       2 2018-04-01       18.00        16.0
4       2 2018-05-01       20.00        16.0
5       1 2018-06-01       16.25        18.0

## HandsOne

Set **height** and **weight** values of student **s3** to **NaN** in the data frame **df_A3**.

***Hint***: Use** .loc** to select the **s3** record and set the values to **np.nan**

Also set the weight of **s5** to **NaN** in **df_A3**.

**Drop** the **rows** having **null** values in any of the columns and assign the result to **df_A4**.

**Hint**: use **dropna** method

Display **df_A4 index**.

In [546]:
df_A3.loc['s3']=[np.nan,np.nan]
df_A3['Student_weight']['s5']=np.nan
df_A3

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3             NaN             NaN
s4           156.2            80.4
s5           161.4             NaN

In [547]:
df_A4=df_A3.dropna()
print(df_A4)
df_A.index

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s4           156.2            80.4

Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')

# Data Aggregation

Data Aggregation refers to identifying data satisfying a condition.

It helps in studying one or more aggregated groups together.

## Filtering Data

In [548]:
df=iris_fromUrl[iris_fromUrl.target=='setosa']
df

    sepal_length  sepal_width  petal_length  petal_width  target
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [549]:
df.count()

sepal_length    50
sepal_width     50
petal_length    50
petal_width     50
target          50
dtype: int64

In [550]:
print ("Mean:%f STD:%f Min:%f Max:%f Median:%f" % (df.petal_length.mean(),df.petal_length.std(),df.petal_length.min(),df.petal_length.max(),df.petal_length.median()))

Mean:1.464000 STD:0.173511 Min:1.000000 Max:1.900000 Median:1.500000

## Transforming Data

In [551]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)),

                   'rain':pd.Series(100 + 50*np.random.randn(10)),

                   'location':list('AAAAABBBBB')

})

print(df.head(2))

  location        rain       temp
0        A  148.357246  26.403823
1        A  131.771798  12.109999

In [552]:
replacements = {

'location': {'A':'Hyderabad', 'B':'Mumbai'}

}

df = df.replace(replacements, regex=True)

print(df.head(2))

    location        rain       temp
0  Hyderabad  148.357246  26.403823
1  Hyderabad  131.771798  12.109999

In [553]:
mumbai_data = df.loc[df.location.str.contains('umb'),:]

print(mumbai_data.head(2))

  location        rain       temp
5   Mumbai  128.075362  34.363541
6   Mumbai   93.037154   7.997146

## Grouping Data

**groupby** method can be used to group data and perform various function on each group.

In [554]:
regions = df.groupby('location')

print(regions.mean())

                 rain       temp
location
Hyderabad  117.395913  25.088255
Mumbai     125.252850  19.579494

## HandsOn

Filter the rows from **df_A**, whose** Student_height > 160.0** and **Student_weight < 80.0** and display the filtered rows.

In [555]:
df_A[(df_A.Student_height>160) & (df_A.Student_weight<80)].head(1)

    Student_height  Student_weight
s3           167.6            76.8

Filter the rows from **df_A**, whose **index** values **end with 5** and display them.

In [556]:
df_A[df_A.index.str.endswith("5")]

    Student_height  Student_weight
s5           161.4            78.9

Create a new column Gender in data frame **df_A** using the below command.

df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']

You can view **df_A** now and see how it looks.

Group **df_A** based on **Gender** and calculated **mean height** and **weight** of each group.

***Hint*** : use **groupby** method to group **df_A** and then call **mean** method on grouped data.

In [557]:
df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
df_A

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F

In [558]:
df_A.groupby('Gender').mean()

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667

Get DF of the groups using **get_group** method

In [559]:
df_A.groupby('Gender').get_group('F')

    Student_height  Student_weight Gender
s2           158.4            90.2      F
s5           161.4            78.9      F

In [560]:
df_A.groupby('Gender').get_group('M')

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s3           167.6            76.8      M
s4           156.2            80.4      M

Select particular column using **iloc** and **lambda** expression

In [561]:
df_A.iloc[:, lambda x : [0,2]]

    Student_height Gender
s1           176.2      M
s2           158.4      F
s3           167.6      M
s4           156.2      M
s5           161.4      F

Group by** index length** and **filter** using **lambda** expression

In [562]:
g = df_A.groupby(df_A.index.str.len())
g.filter(lambda x: len(x) > 1)

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F

# Data Merging

Data Merging refers to combining data stored in multiple entities based on a specific criteria.

Pandas provides utilities like **merge**, which is used to merge two or more data frames.

## Merging Data Frames

Pandas provide **merge** method to join two data frames.

In [563]:
df1=pd.DataFrame({'key':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
df2=pd.DataFrame({'key':['K0','K1','K2','K3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})
print(df1)
print(df2)

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

### Inner Join

In [564]:
pd.merge(df1,df2)

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

### Left join

In [0]:
df3=pd.DataFrame({'key':['K0','K1','K4','K3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [566]:
pd.merge(df1,df3,how='left')

    A   B key    C    D
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C1   D1
2  A2  B2  K2  NaN  NaN
3  A3  B3  K3   C3   D3

### Right join

In [567]:
pd.merge(df1,df3,how='right')

     A    B key   C   D
0   A0   B0  K0  C0  D0
1   A1   B1  K1  C1  D1
2   A3   B3  K3  C3  D3
3  NaN  NaN  K4  C2  D2

### Outer join

In [568]:
pd.merge(df1,df3,how='outer')

     A    B key    C    D
0   A0   B0  K0   C0   D0
1   A1   B1  K1   C1   D1
2   A2   B2  K2  NaN  NaN
3   A3   B3  K3   C3   D3
4  NaN  NaN  K4   C2   D2

## Mutliple Keys

In [569]:
dfleft=pd.DataFrame({'key1':['K0','K1','K2','K3'],'key2':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
dfright=pd.DataFrame({'key1':['K0','K1','K4','K3'],'key2':['K0','K1','K2','K3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})
print(dfleft)
print(dfright)

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K1   K1
2  A2  B2   K2   K2
3  A3  B3   K3   K3
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K1
2  C2  D2   K4   K2
3  C3  D3   K3   K3

In [570]:
pd.merge(dfleft,dfright,on=['key1','key2'])

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A1  B1   K1   K1  C1  D1
2  A3  B3   K3   K3  C3  D3

## HandsOn

Create a **Series** s, from a list** [165.4, 82.7, 'F']**.

Provide the following list of values to argument index.

**['Student_height', 'Student_weight', 'Gender']**

provide **s6** as value to argument **name**.

Append the series s to data frame **df_A** and store the captured array in **df_AA**.

Display index values of **df_AA**.

In [0]:
s=pd.Series([165.4, 82.7, 'F'],index=['Student_height', 'Student_weight', 'Gender'],name='s6')

In [572]:
df_AA=df_A.append(s)
print(df_AA)
df_AA.index

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F
s6           165.4            82.7      F

Index(['s1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

Change the **index** of **df_B** to** [ 's6', 's7', 's8', 's9', 's10']**

Create the **Gender** column in **df_B** with values** ['F', 'M', 'F', 'F', 'M']**

**Concatenate** two data frames **df_A** and **df_B** and assign the result to **df**.

***Hint***: use **concat** method of pandas.

In [573]:
df_B.index=[ 's6', 's7', 's8', 's9', 's10']
df_B['Gender']=['F', 'M', 'F', 'F', 'M']
df=pd.concat([df_A,df_B])
df

     Student_height  Student_weight Gender
s1       176.200000       85.100000      M
s2       158.400000       90.200000      F
s3       167.600000       76.800000      M
s4       156.200000       80.400000      M
s5       161.400000       78.900000      F
s6       176.449712       69.148797      F
s7       131.618999       83.046537      M
s8       142.066377       70.669359      F
s9       194.459043       73.608138      F
s10      176.484505       46.696729      M

Create the following **Series**.

nameid = pd.Series(range(101, 111))

name = pd.Series(['person' + str(i) for i in range(1, 11)])

Create the data frame **master** with series **nameid** and **name**

Create the data frame **transaction** using below command.

transaction = pd.DataFrame({'nameid':[108, 108, 108,103], 'product':['iPhone', 'Nokia', 'Micromax', 'Vivo']})

Merge **master** and **transaction** on **nameid** and **display** the merged data frame. perform** inner join**.

**Hint**: use **merge** method

In [0]:
nameid = pd.Series(range(101, 111))
name = pd.Series(['person' + str(i) for i in range(1, 11)])
master=pd.DataFrame({'nameid':nameid,'name':name})
transaction = pd.DataFrame({'nameid':[108, 108, 108,103], 'product':['iPhone', 'Nokia', 'Micromax', 'Vivo']})

In [575]:
pd.merge(master,transaction,on='nameid')

      name  nameid   product
0  person3     103      Vivo
1  person8     108    iPhone
2  person8     108     Nokia
3  person8     108  Micromax

Concat **series** by **axis 1**

In [576]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)
d

   0  1  2
0  0  0  0
1  1  1  1
2  2  2  4
3  3  3  5

# Other HandsOn

In [577]:
pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D')

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [578]:
df[:2]

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F

In [579]:
df.iloc[:2]

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F

In [580]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
d + pd.Timedelta('1 days 2 hours')

DatetimeIndex(['2017-09-12 02:00:00', '2017-09-14 02:00:00',
               '2017-09-16 02:00:00', '2017-09-18 02:00:00'],
              dtype='datetime64[ns]', freq='2D')

In [581]:
df.loc[:'s2']

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F

In [582]:
s = pd.Series([9.2, 'hello', 89])
s.dtype

dtype('O')